/*
 * CSS File for the solution
 * Tutorial 05
 * Step 01
 * Intstructions are found below in the CSS comments
 */

 html {
  /* We're setting the default font size for the html element */
  /* GO REMS */
  font-size: 1.0rem;
}

/*
  The body is our flex box and is setup
  to take the full width and height of the page
  from reset.css
*/
body {
  /* Set the font */
  font-family: Arial, Helvetica, sans-serif;
  /* Set the page background colour */
  background-color: #edf2f4;
  /* Set the text colour */
  color: #242121;

  /* Flex directives */
  /* 1. Set the display to flex */

  /* 2. Set the flex direction to column */

  /* 3. Set the justify content to space between */


}

/* The first item in the flex container will be the header */

/*
  To keep things simple we just target the
  header directly. Here we are adding
  padding to the top and bottom and sides
  and setting the background and text colours.
*/
header {
  padding: 2rem 1rem;
  /* 4. Set a cool background colour */

  /* 5. Set a cool text colour (or use #edf2f4) */

}

header h2 {
  /* 6. Set the text alignment to center */


  margin: 0;
}


/*
  To keep things simple we just target the
  main element directly.

  We add the align-self: center directive to
  center the flex item in the middle of the screen

  We set the minimum and maximum width so
  that we can keep our box to a certain size.

  Lastly we add padding, colours, and a box shadow to
  make it look a bit better
*/
main {
  /* 7. Set the align-self to center
        This is so our element does stretch to full width of the page
  */

  min-width: 500px;
  padding: 5rem;
  margin: 2rem;
  background-color: #457b9d;
  color: #f1faee;
  border-radius: 20px;
  box-shadow: #315a72 0px 8px 40px;
}

/*
  To keep things simple we just target the
  footer directly. Here we are adding
  padding to the top and bottom (nothing on the side)
  and setting the background and text colours.
*/
footer {
  padding: 2rem 1rem;
  /* 8. Set a cool background colour (or use #1d3557) */

  /* 9. Set a cool text colour (or use #edf2f4) */

}

footer h2 {
  text-align: center;
}
