/*
 * CSS File for the solution
 * Tutorial 05
 * Step 02
 * Intstructions are found below in the CSS comments
 */

/*
 * Body styles
 *
 * The body is our flex box container and is setup
 * to take the full width and height of the page
 * from reset.css
 *
 */
body {
  color: #242121;

  /* 1. Set the font family and colours */


  /* Check out this cool background gradient */
  /* Replace the background with your own gradient styles */
  /* Source: https://uigradients.com/#Jonquil */
  background: #ffeeee; /* fallback for old browsers */
  background: linear-gradient(to right, #ddefbb, #ffeeee);

  /* Set the flexbox directives */
  /* 2. Set the display to flex */

  /* 3. Set the flex direction to column */

  /* 4. Set the justify content to space between */

}

/*
 * Header styles
 */


header {
  padding: 2rem 1rem;

  /* header is both a flexbox item and a flexbox container */
  /* 5. Set the display to flex */

  /* 6. Set the justify content to space between */

  /* 7. Set the align items to center */
}

header .header--banner--logo {
  /* 8. Set the height of the image (I used 2.2rem but you can use whatevs) */

}

header .header--banner--nav ul {
  /* Another flexbox container */
  /* 9. Set the display to flex */

  /* 10. Set the flex gap to something (I used 2rem) */

  /* 11. Set the list style type to none to take out the dics */

  /* 12. Set the margin to 0px */

  /* 13. Set the padding to 0px */

}

header nav.header--banner--nav ul li a {
  /* 14. Set the font size, colour, text decoration, and font weight
         to make your links look nice
   */
}

header nav.header--banner--nav ul li a:hover {
  /* 15. Set the hover colour to something nice */

  /* 16. Set the hover text decoration to underline */

}



/*
 * Main styles
 *
 * To keep things simple we just target the
 * main element directly.
 *
 * We add the align-self: center directive to
 * center the flex item in the middle of the screen
 *
 * We set the minimum and maximum width so
 * that we can keep our box to a certain size.
 *
 * Lastly we add padding, colours, and a box shadow to
 * make it look a bit better
 */


main {
  /*
    You must have align-self center otherwise the
    flex item will not center in the middle of the screen
    and will try to take up the full width of the page
  */
  /* 17. Set the align self to center */


  /* Set a minimum width for our "box" */
  min-width: 550px;
  margin: 1rem;
  color: #1d3557;
}

main h1 {
  /* 18. Make the h1 look good using margin, font size,
         letter spacing, font weight and text-align
  */

}

.main--img {
  /* Margin 0 auto is a cool trick to center an element */
  margin: 0 auto;

  /* 19. Set the height of the image */

}

.main--form {
  /* We use flex on the form so the input and submit are side by side */
  /* 20. Set the display to flex */

}

/* We use flex-grow to make the input text take up the rest of the space */
.main--form input {
  margin: 0 auto;
  padding: 1.5rem 2rem;
  background-color: rgb(255, 255, 255);
  border: none;

  /* 21. Set the flex grow to 1 */

}

/* This targets our input type=submit */
/* If we were using a button we could use the button selector */
.main--form input[type="submit"] {
  border: none;
  padding: 1.5rem 2rem;
  background-color: #1d3557;
  color: #f1faee;
  font-weight: 800;
  font-size: 1rem;
}

/* This targets our input type=submit when we hover over it */
.main--form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #30568b;
}

/*
 * Footer styles
 *
 * To keep things simple we just target the
 * footer directly. Here we are adding
 * padding to the top and bottom (nothing on the side)
 * and setting the background and text colours.
 */

 footer {
  color: #f1faee;

  /* 22. Add a background-colour (I used ##1d3557) */

  /* 23. Add padding to the footer (I used 2rem 1.3rem) */
  padding: 2rem 1.3rem;

}

footer .footer--nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;

  /* Another flexbox container */

  /* 24. Set the display to flex */

  /* 25. Set the flex direction to row */

  /* 26. Set the flex wrap to nowrap */

  /* 27. Set the justify content to flex start */

  /* 28. Set the gap to something */

}

footer .footer--nav ul li a {
  /* Make the footer text a bit smaller */
  /* Fee free to change this as you see fit */
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 900;
  color: #f1faee;
}

/*
  This is a neat trick
  We use the margin-left auto
  positioning trick to push
  the element to the right
*/
.footer--nav--push {
  margin-left: auto;
}



/****** Screen reader text *******/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

html {
  font-size: 1.2rem;
}
